<div class="navbar">
    <div class="container flex">
        <h1>Todo App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/People">People</a></li>
                <li><a href="/Tasks">Tasks</a></li>
            </ul>
        </nav>
    </div>
</div>